* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


body {
  height: 100%;
  margin: 0;
  background: linear-gradient(90deg, #fec38e, #9a2f00);
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
    color:#00A0C6; 
    text-decoration:none; 
    cursor:pointer;  
}


h1,
h2,
h3,
p,
a,
button {
  font-family: "poppins", sans-serif;
}

html {
  height: 100%;
  color: white;
}

main {
  display: flex;
  justify-content: center;
}

/* .nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 5vw;
} */



.nigga {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding: 30px 10%;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 5vw;
}

.nav-links li a:hover {

    opacity: 0.7;
    text-decoration: none;
    cursor: pointer;
    
}
.nav-links li {
    transition: all 0.3s ease 0s;
}


.nav-links li:hover {
    
    scale: 1.1;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.1vw;
  color: rgb(214, 161, 61);
  
}

.logo:hover {
    cursor: pointer;
    opacity: 0.7;
    scale: 1.1;
    transition: all 0.3s ease 0s;
}


.logo img {
    width: 50px;
    height: 50px;
}

.logo h3 {
    font-size: 20px;

}

#nigga2{
    width: 100vw;
    filter: blur(10px);
    transition: all 0.5s ease;
}

#nigga2:hover {
    filter: blur(3px);
}

.strokeme {

  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.nav-links li a {
    font-size: 1.2vw;
    font-weight: 500;
    color: white;
    transition: 0.5s all ease;
}


.button1 {

    padding: 9px 25px;
    background-color: #d1d3d4;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}


.button1:hover {
    background-color: #b0b3b5e1;
    scale: 1.1;
}

#footer {
    display: flex;
    margin-top: 300px;
    padding-bottom: 100px;
    align-items: flex-end;
    justify-content: center;
}